/*
/FlashPolicyServer/*
/FlashPolicyServerCore/*
/FlashPolicyServerTests/*
!/.gitignore
!/FlashPolicyServer/
!/FlashPolicyServer/sources/
!/FlashPolicyServer/sources/*
!/FlashPolicyServer/*.pro
!/FlashPolicyServerCore/
!/FlashPolicyServerCore/sources/
!/FlashPolicyServerCore/sources/*
!/FlashPolicyServerCore/include/
!/FlashPolicyServerCore/include/*
!/FlashPolicyServerCore/*.pro
!/FlashPolicyServerTests/
!/FlashPolicyServerTests/sources/
!/FlashPolicyServerTests/sources/*
!/FlashPolicyServerTests/*.pro
!/FlashPolicyServer.pri
!/FlashPolicyServer.ini
!/FlashPolicyServer.pri
!/FlashPolicyServer.pro
!/FlashPolicyServer.xml
!/LICENSE.txt
!/README.md
