/*
/flash-policy-server/*
/flash-policy-server-core/*
/flash-policy-server-tests/*
!/.gitignore
!/flash-policy-server/
!/flash-policy-server/sources/
!/flash-policy-server/sources/*
!/flash-policy-server/*.pro
!/flash-policy-server-core/
!/flash-policy-server-core/sources/
!/flash-policy-server-core/sources/*
!/flash-policy-server-core/include/
!/flash-policy-server-core/include/*
!/flash-policy-server-core/*.pro
!/flash-policy-server-tests/
!/flash-policy-server-tests/sources/
!/flash-policy-server-tests/sources/*
!/flash-policy-server-tests/*.pro
!/flash-policy-server.pri
!/flash-policy-server.ini
!/flash-policy-server.pri
!/flash-policy-server.pro
!/flash-policy-server.xml
!/flash-policy-server.init
!/LICENSE.txt
!/README.md
